body {
    padding: 1px;
    background-color: #fefefe;
}

.box {
    background-color: #fff;
    padding: 30px;
    margin: 40px 100px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
}

h2 {
    font-size: 25px;
    color: #01b814;
}

.inbox {
    margin: 6px;
    padding: 7px;
    width: 200px;
    border: .1px solid rgba(3, 210, 79, 0.605);
    border-radius: 10px;
}

.button {
    margin: 20px;
    padding: 10px 40px;
    background-color: rgb(0, 186, 12);
    color: #fff;
    border: 0;
    border-radius: 20px;
    letter-spacing: .2ch;
    cursor: pointer;
}
input[type="button"]:hover{
    background-color: #009a21;
}
.line {
    display: flex;
    padding: 0 10px;
    width: 300px;
}

.line div {
    height: 1px;
    background-color: rgb(208, 208, 208);
    flex: 1;
    margin: 8px;
}

.line span {
    font-size: 13px;
    color: #9f9f9f;
}

a {
    color: rgb(1, 180, 13);
    text-decoration: none;
}
p{
    color: #5d5d5d;
    font-size: 14px;
    /* margin: 20px; */
    padding-top: 10px;
    padding-bottom: 0px;
}