
body {
    background: url(/bg.jpeg) no-repeat;
            background-position: center;
            background-size: 1920px 2000px;
}

.box {
    background: transparent;
    backdrop-filter: blur(20px);
    width: 300px;
    padding: 30px;
    margin: 80px 100px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 30px;
}

h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    color: #ffffff;
}

.inbox {
    margin: 6px;
    padding: 7px;
    width: 200px;
    border: .1px solid rgba(255, 255, 255, 0.605);
    border-radius: 10px;
}

.button {
    margin: 20px;
    padding: 10px 40px;
    background-color: rgb(255, 255, 255);
    color: #000000;
    font-weight: 40px;
    border: 0;
    border-radius: 20px;
    letter-spacing: .2ch;
    cursor: pointer;
}
input[type="button"]:hover{
    background-color: #8c9abd;
}
input[placeholder="Enter Name"]:hover{
    top: 0;
    
}
.line {
    display: flex;
    padding: 0 20px;
}

.line div {
    height: 0.1px;
    background-color: rgb(232, 232, 232);
    flex: 1;
    margin: 8px;
}

.line span {
    font-size: 13px;
    color: #f1f1f1;
}

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
p{
    color: #e7e7e7;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 0px;
}
.px{
    position: absolute;
    top: 92%;
    right: 10px;
}
.px p{
    font-size: 12px;
}
.px b{
    font-size: 14px;
}
