*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}
.box{
    padding: 15px;
    background-color: #262626;
    width: 250px;
    height: 346px; 
    border: none;
    border-radius: 10px;
}
.box .in{
    width: 100%;
    height: 40px;
    font-size: larger;
    text-align: right;
    margin-bottom: 20px;
    border: none;
    outline: none;
    border-radius: 10px;
}
button{
    background-color: #5c5c5c;
    color: rgb(255, 255, 255);
    border: none;
    font-weight: 900;
    width: 46px;
    height: 46px;
    padding: 0px;
    margin: 3px;
    border-radius: 50%;
}
.btn{
    width: 100px;
    border-radius: 30px;
}
.opra{
    background-color: #e4942c;
    color: black;
}

