* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    background-image:  linear-gradient(rgba(5, 5, 5, 0.368), rgba(255, 255, 255, 0)), url(/img/background.png);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position: relative;
}

.logo {
    padding-top: 5px;
    width: 100px;
}

.navbar {
    width: 95%;
    height: 10%;
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}

.btn {
    color: white;
    background: transparent;
    padding: 3px 10px;
    border: 1px solid white;
    border-radius: 20px;
    font-weight: 300;
}

.img2 {
    position: relative;
    margin-top: 30px;
    margin-bottom: 5px;
    width: 90px;
}

.content {
    position: relative;
    text-align: center;
    color: white;
    margin: 0;
    padding: 0;
}

.content  h1{
    font-family: cursive;
    font-size: 30px;
}


.content small{
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
    font-size: 12px;
}
small.s1{
    position: relative;
    top: 4px;
    letter-spacing: 12px;
    font-size: 9px;
}
.btn2 {
    margin: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 10px;
    padding: 3px 12px;
    backdrop-filter: blur(2px);
}